.buttonConvert{
    border-radius: .5rem;
    color: white;
    font-weight: bold;
    padding:5px 10px 5px 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    margin: 0px 20px;
    max-width: 70%;
    cursor: pointer;
    background: linear-gradient(to bottom, #ff00ff, #b13cff);
}